/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

// @import './tailwind-preflight.css';

@import './tachyons.scss';

$ft-silver: #efefef !default;

.light-silver {
	color: $ft-silver;
}

.custom-input {
	font-size: 16px;
	padding: 12px 15px;
	border-radius: 9px;
	border: 1px;
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

html,
body {
	height: 100%;
	@extend .sans-serif;
	@extend .normal-l;
}

.build a {
	display: block;
	width: 100%;
	padding: 2em;
}

.js-enabled .build {
	position: absolute;
	bottom: 0;
	margin-top: -150px;
	padding-bottom: 100px;
	text-align: center;
	transition: margin-top ease 0.75s;
	a {
		background: #222;
		color: #fff;
	}
	&:hover {
		margin-top: 0px;
	}
}

.container {
	height: 100%;
}

/*

Start snippet from FC

*/

.project-wrapper {
	padding: 45px 20px 0;
	width: 16.6%;
	transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.project {
	position: relative;
	display: block;
	max-width: 100%;
	border-radius: 4px;
	text-decoration: none !important;
	a {
		text-decoration: none !important;
	}
}

.project-card {
	&:hover img {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
	}
	position: relative;
}

.project-preview {
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0;
	max-width: 800px;
	&:after {
		display: block;
		padding-top: 75%;
		content: '';
	}
}

.project-placeholder {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
	transition: all 0.2s ease;
}

.project-preview img {
	display: block;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
	transition: all 0.2s ease;
}

.project-info,
.project-preview img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.project-info {
	position: relative;
	z-index: 3;
	margin-top: 25px;
}

.project-indicator-private {
	position: relative;
	display: inline-block;
	margin-left: 8px;
	border-radius: 100%;
	text-align: center;
	line-height: 6px;
}

.project-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 0;
	line-height: 1em;
}

.project-title-wrapper {
	overflow: hidden;
	max-width: 95%;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	line-height: 1.2em;
	cursor: default;
}

.project {
}

.imageLoader {
	opacity: 0;
	transition: opacity 0.1s ease;
}

.imageLoader-loaded {
	opacity: 1;
}

@media screen and (max-width: 2200px) {
	.project-wrapper {
		width: 20%;
	}
}

@media screen and (max-width: 1860px) {
	.project-wrapper {
		width: 20%;
	}
}

@media screen and (max-width: 1440px) {
	.project-wrapper {
		width: 33.3%;
	}
}

@media screen and (max-width: 1100px) {
	.project-wrapper {
		width: 50%;
	}
}

/*

End snippet from FC

*/

.layout {
	height: 100%;
	overflow: hidden;
	.item {
		float: left;
		height: 100%;
		width: 100%;
		border: 2px solid #efefef;
	}
}

/**
		Layouts
*/

.layout-2row .item {
	height: 50%;
}

.layout-2col .item {
	width: 50%;
}

.layout-2col-75-25 .item {
	&:first-child {
		width: 75%;
	}
	width: 25%;
}

.layout-2col-25-75 .item {
	&:first-child {
		width: 25%;
	}
	width: 75%;
}

.layout-3row .item {
	height: 33.3%;
}

.layout-3col .item {
	width: 33.3%;
}

.layout-2x2 .item {
	width: 50%;
	height: 50%;
}

.layout-2x1 {
	.item {
		width: 50%;
		height: 50%;
	}
	.item-1 {
		height: 100%;
	}
}

.layout-2x1ish {
	.item {
		width: 67%;
		height: 50%;
	}
	.item-1 {
		height: 100%;
		width: 33%;
	}
}

.layout-1x2 {
	.item {
		width: 50%;
		height: 67%;
	}
	.item-1 {
		height: 33%;
		width: 100%;
	}
}

.layout-banner-plus-3col {
	.item {
		width: 33.3%;
		height: 67%;
	}
	.item-1 {
		width: 100%;
		height: 33%;
	}
}

.layout-sidebar-plus-3row {
	.item {
		width: 50%;
		height: 33%;
		&:last-child {
			width: 50%;
			height: 34%;
		}
	}
	.item-1 {
		width: 50%;
		height: 100%;
	}
}

body {
	margin: 0;
	padding: 0;
	background: #f9f9f9;
	color: #000;
	font-size: 14px;
	font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	-webkit-font-feature-settings: 'liga', 'kern';
	font-feature-settings: 'liga', 'kern';
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
	width: 100%;
	padding: 0;
	max-width: 1280px;
	margin: 0 auto;
}

h2 {
	margin: 0.5em 0;
	font-size: 19px;
	font-weight: bold;
}

ol {
	list-style-type: none;
	border: 0;
	padding: 0;
	margin: 0;
}

ol li {
	list-style: disc;
	padding: 5px 0;
	list-style-position: inside;
}

input {
	-webkit-appearance: none;
	box-shadow: none;
}

.title input {
	min-width: 300px;
	font-size: 16px;
	margin-left: 0.25em;
	@extend .custom-input;
}

.layout-thumb {
	height: 24px;
	width: 24px;
}

/* Visually hidden */

.js-enhanced {
	h2 {
		position: absolute;
		left: -9999em;
	}
	section {
		&.layouts {
			input,
			label span {
				position: absolute;
				left: -9999em;
			}
		}
		&.urls label {
			position: absolute;
			left: -9999em;
		}
	}
	ol li {
		list-style: none;
	}
	section {
		margin: 0 auto;
		&.layouts {
			background-color: #007eff;
			@extend .br2;
		}
		&.layouts ol li {
			background-color: #007eff;
			display: inline-block;
			margin: 0 21px 0 0;
			&.selected .layout {
				opacity: 1;
				background-color: #fff;
			}
		}
		&.urls ol {
			@extend .mv4;
			height: 720px;
			li {
				text-align: center;
				input {
					position: relative;
					width: 90%;
					top: 50%;
					transform: translateY(-50%);
					@extend .custom-input;
				}
			}
		}
	}
}
